<p>
  Name : <input [(ngModel)]="city.city_name">
</p>
<p>
  Population : <input [(ngModel)]="city.city_population">
</p>
<p>
  Img : <input [(ngModel)]="city.city_pic">
</p>
<p>
  <button *ngIf="btn_stt" (click)="saveCity()">Save</button>
  <button *ngIf="!btn_stt" (click)="updateCity()">Update</button>
</p>

<hr>
<table class="table">
<th>Name</th><th>Population</th><th>Action</th>
<tr *ngFor="let city of cities">
<td>
  <img [src]="city.data.city_pic" width=100 height=100>
  {{city.data.city_name}}


</td>
<td>{{city.data.city_population}}</td>
<td>
<button (click)="delCity(city.key)">Del</button>
<button (click)="editCity(city)">Edit</button> 
</td>
</tr>
</table>











